name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Backend Image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest ./backend

    - name: Build Frontend Image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest ./frontend

    - name: Push Images
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ~/mean-app
          sudo docker compose pull
          sudo docker compose up -d
